#simple{
    width: 99%;
    min-height: 200px;
    max-height: 200px;
    float: left;
    border: 1px solid #279545;
    overflow-y: auto;
    word-wrap: break-word;
}
#usersOnline{
    width: 40%;
    height: 30%;
    float: left;
    border: 1px solid #955191;

}
#vvod {
    width: 50%;
    /*height: 35px;*/
    position: relative;
}
/*#textOfMessage {*/
    /*margin: 10px 10px 0 0;*/
    /*width: 79%;*/
    /*height: 60px;*/
/*}*/
#send {
    margin: 10px 0 0 0;
    width: 19%;
    height: 25px;
    padding: 0 0 2px 0 ;
}
#confirmSended, #confirmReceived,  #private {
    width: 48%;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #131895;
    margin: 5px;
    float: left;
    padding: 3px;
    word-wrap: break-word;
}
.clearfix {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.confirmRed {
    background: red;
    margin: 0 3px;
}
.confirmGreen {
    background: lightseagreen;
    margin: 0 3px;
}
fieldset#fieldMain {
    padding: 1px;
    width: 50%;
    float: left;
}
textarea#textOfMessage {
    margin: 10px 10px 0 0;
    width: 79%;
    height: 60px;
}

