doctype
html
    head
        title="Nothing!"
        script(src = '/jquery-1.11.1.min.js')
        script(src = '/bootstrap.min.js')
        script(src = '/bootstrap-checkbox.min.js')
        script(src = '/chat.js')
        script(src = '/socket.io/socket.io.js')
        style
            include ../public/css/style.css
            //include ../public/css/checkbox.css
            link(rel='stylesheet', href='netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
            include ../public/css/bootstrap.min.css
    body
        fieldset#fieldMain
            legend Основной чат
            #simple
        #usersOnline
        .clearfix
        #vvod
            form#forma(action='', onsubmit='return false')
                textarea#textOfMessage
                input#send.btn.btn-primary(type='submit', value='send message')
        .clearfix
        #confirmSended
        #confirmReceived
        #private

