doctype
html
    head
        title="Nothing!"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        style
            include ../public/css/style.css
    body
        fieldset#fieldMain
            #simple
            legend='Общий чат'
        #usersOnline
        .clearfix
        #vvod
            form#forma(action='', onsubmit='return false')
                textarea#textOfMessage
                input#send(type='submit', value='send message')
        .clearfix
        #confirmSended
        #confirmReceived
        #private

